
.ellipsis {
    text-overflow: ellipsis;
    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.footer {
    display: block;
    position: absolute;
    bottom: 0;
    height: 3rem;
    line-height: 60px;
}

    .footer .footer-info li {
        line-height: 1.3em;
    }

    .footer ul li {
        list-style-type: none;
        margin: 0!important;
        padding: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: 0.7em;
    }

